*{
    margin:0;
    padding:0;
    border:0;
}
#container{
    width:1000px;
    margin:0 auto;
    height:auto;
}


.pic{
    width: 200px;
    height:200px;
    min-height:200px;
    min-width:200px;
    max-height:200px;
    max-width:200px;
    
    margin:20px;
}

